<%= form_with model: @event do |f| %>
  <%= render partial: 'events/error', locals: { event: event, attribute: :name} %>
  <div class="field mb-4">
    <%= f.label :name, class: 'text' %><br/>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field mb-4">
    <%= f.label :description, class: 'text' %><br/>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <%= render partial: 'events/error', locals: { event: event, attribute: :event_date} %>
  <div class="field mb-4">
    <%= f.label :event_date, class: 'text' %><br/>
    <%= f.datetime_field :event_date, class: "form-control" %>
  </div>
  <%= render partial: 'events/error', locals: { event: event, attribute: :date_to_notificate} %>
  <div class="field mb-4">
  <%= f.label :date_to_notificate, class: 'text' %><br/>
    <%= f.datetime_field :date_to_notificate, class: "form-control" %>
  </div>

  <%= render partial: 'events/error', locals: { event: event, attribute: :category} %>
  <div class="field mb-4">
  <%= f.label :category, class: 'text' %><br/>
    <%= f.collection_select :category_id, current_user.categories.all, :id,:name,
                            { promp: "Category", selected: "", disabled: "" },
                            { class: "form-control", placeholder: "Select category"} %>
  </div>
  <p>
    <%= f.submit t("event.#{button}"), class: "btn btn-primary" %>
  </p>
<% end %>
