<div class="container">
  <div class="row ">
    <div class="col-sm-6 p-4">
      <h2><%= @event.name %></h2>
      <p><%= @event.description %></p>
      <div class="d-flex align-items-center mb-4">
        <i class="me-auto"><%= @event.date.strftime("%Y-%m-%d %H:%M:%S") %></i>
        <b><%= @event.category.name %></b>
      </div>
      <% if @event.date_to_notificate%>
        <div class="mb-4">Remind <%= @event.date_to_notificate.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <% end %>
      <div class="col-sm-6 btns d-flex align-items-center">
        <%=link_to "Edit", edit_event_path(@event.id), class: "btn btn-primary me-auto px-4" %>
        <%=button_to "Delete", event_path(@event.id), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
