<div class="list-categories">
  <h1 class="text-center-70"><%= t('category.categories') %></h1>
  <br>

  <ul class="list-group list-group-flush" >
  <div class='center'>
    <%= link_to "5", categories_path(per_page: 5, search: params[:search]), class: "btn btn-secondary btn-short-width"%>
    <%= link_to "10", categories_path(per_page: 10, search: params[:search]), class: "btn btn-secondary btn-short-width"%>
    <%= link_to "30", categories_path(per_page: 30, search: params[:search]), class: "btn btn-secondary btn-short-width"%>
    <%= link_to "40", categories_path(per_page: 40, search: params[:search]), class: "btn btn-secondary btn-short-width"%>
  </div>
    <% @categories.each do |category| %>
      <li class="list-group-item">
        <table>
          <tr >
            <th width="450px">
              <h5 class="category"><%= category.name %></h5>
            </th>
            <th>
              <%= link_to t('category.edit'), edit_category_path(category.id, locale: I18n.locale), class: "btn btn-info text-white" %>
            </th>
            <th>
              <%= button_to t('category.delete'), category_path(category.id, locale: I18n.locale), method: :delete, class: "btn btn-danger text-white"%>
            </th>
          </tr>
        </table>
      </li>
    <% end %>
    <div class='center'><%= paginate @categories%></div>
  </ul>
  <%= link_to t('category.create_new'), new_category_path, class: "btn btn-success text-white" %>
</div>
